.container{
    @apply
    flex
    items-center
    justify-center
}
.card{
    @apply
    mt-[6rem]
    md:w-[35rem]
    w-[30rem]
    md:h-[58rem]
    h-[63rem]
    bg-white
}
.CardBody
{
    @apply
    text-justify;
}
.CardTitle{
    @apply
    text-2xl
    font-bold;
    font-family: 'Roboto Mono', monospace;
}
.tags{
    @apply
    pb-2
}
.tag
{
    @apply
    p-2
    mx-1
    my-1
    flex
    inline-flex;
    
    border-left-width: thick;
    border-left-style: solid;
    border-left-color: var(--purple);
    border-radius: 2em;
    color: var(--white);
    font-weight: bold;
    background: var(--black);
    background-size: 100%;
    text-decoration: none;
    font-size: 14px;
}
.links{
    @apply
    flex
    items-center
    justify-center
    pt-3
}
.link{
    @apply
    mx-2
    bg-black
    p-1
    px-3
    rounded-3xl
}
.imgGH{
    @apply
    w-[2.5rem]
    h-[2.5rem]
    p-1
}
.imgWeb{
    @apply
    w-[2.5rem]
    h-[2.5rem]
}
.dialogImg{
    @apply
    size-full
}