@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@700&family=Roboto+Mono:wght@300&family=Roboto+Slab:wght@300;400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@700&family=Roboto+Mono:wght@300&family=Roboto+Slab:wght@300&family=Ubuntu&display=swap');
:root{
    --blue: #068FFF;
    --white: #d3d3d3;
    --purple: #4949da;
    --black: #000000
}