.container{
    @apply
    h-auto
    w-full
    p-4
}
.title{
    @apply
    md:text-[4rem]
    text-5xl
    text-center
    drop-shadow-2xl
    mt-[2rem]
    uppercase;
    font-family: 'Roboto Slab', serif;
}
.containerCards
{
    @apply
    flex
    items-center
    justify-center
    grid
    lg:grid-cols-3
    grid-cols-1
}