.container{
    @apply
    h-auto
    w-full
    bg-white
    md:px-[10rem]
    px-1
    py-12
    flex
    items-center
    grid
    lg:grid-cols-2
    grid-cols-1
    drop-shadow-2xl
}

.title{
    @apply
    text-6xl
    text-center;
    animation: background-pan 20s linear infinite;
    font-size: 50px;
    text-transform: uppercase;
    color: transparent;
    background: linear-gradient( 90deg, var(--black), var(--purple));
    background-size: 200%;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    white-space: nowrap;
    font-family: 'Playfair Display', serif;
}
.text{
    @apply
    px-4
    text-justify;
    font-family: 'Roboto Slab', serif;
}
.phrase{
    @apply
    px-10
   
    text-center;
    font-family: 'Roboto Slab', serif;
}
@keyframes background-pan{
    from{
        background-position: 0% center;
    }
    to
    {
        background-position: -200% center;
    }
}